body {
    background-image: url(https://img1.wallspic.com/previews/5/4/7/5/6/165745/165745-nissan_gt_r-a90_supra-2020_toyota_supra-sports_car-cars-x750.jpg);
    background-repeat: no-repeat;
    background-size: 65%;
}